body{
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 14px;
    line-height: 1.6;
    color: black;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    font-size: 13px;
}

/*CUSTOM_SLIDER_STYLES START*/
.slider {
    position: relative;
    overflow: hidden;
}
.ddsItem img {
    width: 100%;
}
.ddsItem div{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
}
.ddsWrapper {
    display: flex;
    transition: transform 0.6s ease;
}
.ddsItem {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    max-height: 600px;
}
.ddsSliderControl {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}
.ddsSliderControl_show {
    display: flex;
}
.ddsSliderControl:hover,
.ddsSliderControl:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.ddsSliderControl_left {
    left: 0;
}
.ddsSliderControl_right {
    right: 0;
}
.ddsSliderControl::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
.ddsSliderControl_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.ddsSliderControl_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/*CUSTOM_SLIDER_STYLES END*/
/*CUSTOM_MENU_STYLES START*/
.nav-item{
    list-style: none;
    display: inline-block;
}
.nav-item a{
    text-decoration: unset;
    font-weight: 700;
    margin-left: 10px;
    color: black;
}
.nav-item a:visited{
    text-decoration: unset;
    font-weight: 700;
    margin-left: 10px;
}
.navbar{
    text-align: center;
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
    margin: 0;
    padding: 15px;
}
.nav-item a:hover{
    color: darkblue;
}
/*CUSTOM_MENU_STYLES END*/
/*CUSTOM_FOOTER_STYLES START*/
.card{
    text-align: center;
    font-weight: 700;
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
    padding: 25px;
}
.btn{
    padding: .5rem 1rem;
    font-size: 16px;
    border-radius: .3rem;
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
    margin-bottom: 15px;
}
.text-muted{
    font-size: 15px;
    margin-top: 10px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/*CUSTOM_FORM_STYLES START*/
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.ddsPart{
    text-align: center;
    padding: 1px 15px  25px 15px;
    background: linear-gradient(179.87deg, #F5F4F8 0.02%, rgba(106, 232, 223, 0) 99.29%);
}

/*CUSTOM_FORM_STYLES END*/
/*VIDEO_STYLES START*/
#video input{
    width: 60%;
    margin-right: 20px;
}
.center-mode{
    max-width: 500px;
    margin: 0 auto;

}
.textArea{
    text-align: left;
}


@media (max-width: 685px) {
    #slider{margin-top: 70px}
}
@media (min-width: 685px) {
    iframe {
        width: 45vw;
        height: 25.3125vw; /* 45*9/16 */
        margin-left: 2vw;
        margin-right: 2vw
    }
}
/*VIDEO_STYLES END*/
@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}
/*CUSTOM_FOOTER_STYLES END*/